<section class="container d-flex flex-column align-items-center py-2 my-3 border border-5 border-success rounded shadow">
  <h5 class="text-light"><a href="/api/blogs/{{id}}" class="link-warning">
      {{title}}</a></h5>
  <p class="text-light">Description:&emsp;{{body}}</p>
</section>